In [15]:
import pandas as pd
import numpy as np

In [16]:
people = {
    'first': ['Coroey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'],
    'email': ['CoreyMShafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com', None, np.nan, 'Anonymous@gmail.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [17]:
df = pd.DataFrame(people)
df

    first     last                   email      age
0  Coroey  Schafer  CoreyMShafer@gmail.com       33
1    Jane      Doe       JaneDoe@gmail.com       55
2    John      Doe       JohnDoe@gmail.com       63
3   Chris  Schafer                    None       36
4     NaN      NaN                     NaN     None
5    None      NaN     Anonymous@gmail.com     None
6      NA  Missing                      NA  Missing

In [19]:
df.dropna() 
#The default has the arguments `axis='index', how='any'` 
# axis specifies is the dropping should be by rows(index) or columns
# how specifies if pandas should drop the row/column if any or all the data are missing in the dataframe

    first     last                   email      age
0  Coroey  Schafer  CoreyMShafer@gmail.com       33
1    Jane      Doe       JaneDoe@gmail.com       55
2    John      Doe       JohnDoe@gmail.com       63
6      NA  Missing                      NA  Missing

- We can also specify the columns it should check for missing vaues before it drops them. we pass a list of the columns to the `subset` key-word argument

In [ ]:
df.dropna(axis='index', how='any', subset=[])