In [55]:
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import quandl
import math
df = quandl.get("WIKI/GOOGL")
df = df.loc[:, "Adj. Open":"Adj. Volume"]
df["HL_PCT"] = (df["Adj. High"] - df["Adj. Close"]) / df["Adj. Close"] * 100
df["PCT_change"] = (df["Adj. Close"] - df["Adj. Open"]) / df["Adj. Open"] * 100

df = df.loc[:, "Adj. Close":"PCT_change"]
forecast_col = "Adj. Close"
df.fillna(-99999, inplace=True) # fill all missing values with `-99999` to make them outliers since we don't want to get rid of them.
forcast_out = int(math.ceil(0.01*len(df)))
df['label'] = df[forecast_col].shift(-forcast_out)
df.dropna(inplace=True)
df

             Adj. Close  Adj. Volume    HL_PCT  PCT_change        label
Date
2004-08-19    50.322842   44659000.0  3.712563    0.324968    69.078238
2004-08-20    54.322689   22834300.0  0.710922    7.227007    67.839414
2004-08-23    54.869377   18256100.0  3.729433   -1.227880    68.912727
2004-08-24    52.597363   15247300.0  6.417469   -5.726357    70.668146
2004-08-25    53.164113    9188600.0  1.886792    1.183658    71.219849
...                 ...          ...       ...         ...          ...
2018-01-30  1177.370000    1792602.0  0.896914   -0.029718  1094.000000
2018-01-31  1182.220000    1643877.0  0.346805   -0.134312  1053.150000
2018-02-01  1181.590000    2774967.0  0.495942    0.476195  1026.550000
2018-02-02  1119.200000    5798880.0  1.081129   -0.729098  1054.090000
2018-02-05  1068.760000    3742469.0  4.325574   -2.893850  1006.940000

[3389 rows x 5 columns]

In [53]:
X = np.array(df.drop(['label'], axis=1))
y = np.array(df['label'])
X = preprocessing.scale(X)
len(X), len(y)

(3389, 3389)

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [60]:
Classifier = LinearRegression()
Classifier.fit(X_train, y_train)
Accuracy = int((Classifier.score(X_test, y_test) * 100))
Accuracy

97